.all div {
    border: 1px solid black;
    box-sizing: border-box;
}

.contOne {
    background-color: blue;
}

.contTwo {
    background-color: red;
}

.contThree, .contFour {
    background-color: green;
}

.contFive, .contSix, .contSeven, .contEight {
    background-color: yellow;
}

.contNine {
    background-color: orange;
}

@media (min-width: 768px) {
    .all {
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
    }

    .contOne {
        grid-row: 1;
        grid-column: 1/6;
    }

    .contTwo {
        grid-row: 2/5;
        grid-column: 1;
    }

    .contThree {
        grid-row: 2;
        grid-column: 2/4;
    }

    .contFour {
        grid-row: 2;
        grid-column: 4/6;
    }

    .contNine {
        grid-row: 4;
        grid-column: 2/6;
    }
}

@media (max-width: 540px) {
    .all {
        display: flex;
        flex-wrap: wrap;
    }
    .contOne, .contTwo, .contThree, .contFour, .contNine {
        width: 100%;
    }
    .contFive, .contSix, .contSeven, .contEight {
        width: 50%;
    }
    .contOne {
        height: 75px;
    }
    .contTwo {
        height: 150px;
    }
    .contThree, .contFour {
        height: 125px;
    }
    .contFive, .contSix, .contSeven, .contEight {
        height: 250px;
    }
    .contNine {
        height: 80px;
    }
}
@media (min-width: 541px) and (max-width: 767px) {
    .all {
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
    }

    .contOne {
        grid-row: 1;
        grid-column: 1/6;
    }

    .contTwo {
        grid-row: 2/5;
        grid-column: 1;
    }

    .contThree {
        grid-row: 2;
        grid-column: 2/4;
    }

    .contFour {
        grid-row: 2;
        grid-column: 4/6;
    }

    .contNine {
        grid-row: 4;
        grid-column: 2/6;
    }
}